:root {
  --color-primary: #455a64;
  --color-secondary: #01818c;
  --color-accent: #043953;

  --bg-color--1: #f4fbff;
  --bg-color--2: #2b7397;
  --bg-color--3: #32959d;
  --bg-color--4: #9c7777;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-primary);
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-secondary);
}

#section2 h2,
#section1 h2 {
  margin: 80px 0;
}

/*Nav bar*/
.navbar {
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  height: 80px;
}

.navbar__logo {
  width: 80px;
  height: auto;
}

.navbar img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* .main {
  width: 1152px;
} */

/* .main,
footer {
  margin-top: 50px;
} */

/*section 1 */
#section1 {
  width: 80%;
  margin: auto;
  /* width: 1152px;
  margin: auto; */
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

form p {
  font-size: 20px;
  margin-bottom: 15px;
}

form label {
  text-transform: capitalize;
}

.form-check-input:checked + .form-check-label {
  color: var(--color-secondary);
}
.dropdown {
  width: 100%;
}

.dropdown button {
  border: 1px solid var(--color-primary);
  width: 100%;
  text-align: start;
  color: var(--color-secondary);
}

.dropdown button:hover {
  border: 1px solid var(--color-primary);
}

.form-check {
  margin-bottom: 10px;
}

form button {
  align-self: center;
}

.btn-submit {
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-secondary);
  color: white;
  width: 130px;
  height: 50px;
  letter-spacing: 1.2px;
}

.btn-submit:hover {
  border: 2px solid var(--color-secondary);
}

/*section 2*/

.query {
  background-color: var(--bg-color--1);
  padding: 12px 20px;
  width: 50%;
  margin: auto;
}
.accordion {
  background-color: var(--bg-color--1);
  /* padding: 30px 10px; */
}

.accordion-container {
  padding: 30px;
  margin: auto;
}

.accordion-container > div {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-secondary);
}
.card-subtitle {
  color: var(--color-secondary) !important;
}

.card-text {
}

.card-footer {
  text-decoration: none;
  text-transform: capitalize;
  padding: 18px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.card-footer--1 {
  background-color: var(--bg-color--2);
}
.card-footer--2 {
  background-color: var(--bg-color--3);
}
.card-footer--3 {
  background-color: var(--bg-color--4);
}

/*section 3*/

#section3 {
  background-color: var(--bg-color--1);
  margin-top: 100px;
  padding: 40px 0px;
}

.carousel {
  padding: 40px;
}

.carousel-indicators {
  top: 90%;
}

.carousel-indicators button {
  background-color: var(--color-accent) !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.carousel-inner {
  background-color: white;
  padding: 30px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
  min-height: 220px;
}

h6 {
  text-align: center;
  font-size: 22px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40%;
}

.carousel-control-prev span,
.carousel-control-next span {
  background-color: var(--color-accent);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*footer*/

footer {
  background-color: var(--color-accent);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.logo {
  width: 200px;
}

footer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
